<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-sftp-logs.ZPM">
    <Module>
      <Name>iris-sftp-logs</Name>
      <Version>1.0.3</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="User.PKG"/>
      <Dependencies>
        <ModuleReference>
          <Name>swagger-ui</Name>
          <Version>1.*.*</Version>
        </ModuleReference>
      </Dependencies>
       <CSPApplication 
        Url="/sftplog"
        PasswordAuthEnabled="1"
        UnauthenticatedEnabled="0"
        SourcePath="/csp"
        DeployPath="{$cspdir}/sftplog"
        ServeFiles="1"
        Recurse="1"
        CookiePath="/sftplog"
      />
    </Module>
  </Document>
</Export>
